.formContainer{
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height: 90vh;
}

.formsField{
    display: flex;    
    min-height: 70vh;
    background-color: pink;
}
.inputMD{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: blueviolet;
    padding : 3vh;
    border-right-width: 1px;
    border-right-color: black;
    border-right-style: solid;
}

.outputHTML{
    display: flex;
    flex-direction: column;
    flex : 1;
    background-color: green;
    padding : 3vh;
    border-left-width: 1px;
    border-left-color: black;
    border-left-style: solid;
}

.formsField textarea{
    min-height: 70vh
}

.formName{  
    display: flex;
    flex-direction: row;
    background-color: yellow;
    min-height: 7vh;
    align-items: center;
    justify-content: center;
}

.formName input{
    min-height: 5vh;
    min-width: 20%;
    margin-left: 2vh;
    border-radius: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3vh;
    margin-right: 3vh;
}