<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Questmark</title>
    </head>
    <body>
    <!--==========================
    inicio
    ============================-->
    <header id="header">
        <div class="container">
            <div class="logo float-left">
                <h1 class="text-light"><a href="#intro" class="scrollto"><span id="letrainicio">Questmark</span></a></h1>
            </div>
            <!--Inserido os botões na navbar-->
            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/">Registro</a></li>
                </ul>
            </nav>
        </div>
        </header>




        <!--Conteudo-->

















        <!-- Footer da pagina -->
        <footer id="footer" class="section-bg">
            <div class="container">
                <div class="credits">
                    <br>
                    Designed by <a href="https://getbootstrap.com/">Bootstrap</a>
                    <br>
                    Icons by <a href="https://icons8.com/">Ícones</a>
                    <br>
                </div>
            </div>
        </footer>
    </body>

</html>