<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title><%= formulario.nome %></title>
	<!-- Função que retorna os rótulos de um JSON -->
	<%
		function getJsonLabels(json){
			let labelsArray = [];
			let regex1 = /\"[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ0-9@.\- ]+\":/g;
			let regex2 = /[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ0-9@.\- ]+/;
			
			let jsonstr = JSON.stringify(json);
			let tmpLabels = jsonstr.match(regex1);			
			tmpLabels.forEach((v,i) => {let tmp = tmpLabels[i].match(regex2); labelsArray[i] = tmp[0];});	
			return labelsArray;
		}
	%>
</head>

<body>
	<h1 style="text-align: center;">Respostas: <%= formulario.nome %><h1/>
	
	<ul style="width: 800px;display: block; margin-left: auto; margin-right: auto;
		list-style:none;border: 2px solid black;border-radius: 10px;">
		
		<% if(formulario.respostas != undefined){ %>
			<% for(let i = 0;i < formulario.respostas.length;i++){ %>
				<% let labelsArray = getJsonLabels(formulario.respostas[i]); %>					
				<li style="border: 2px solid blue;margin: 20px;text-align: center;border-radius: 10px;">
					<% for(let j = 0;j < labelsArray.length;j++){ %>
						<span style="display: block;float: left;margin-left:15px;">
							<%= labelsArray[j] %>:
						</span>
						<span style="display: block;float: left; margin-left:10px; ">
							<%= formulario.respostas[i][labelsArray[j]] %>
						</span>
						<br>
					<% } %>
				</li>
			<% } %>
		<% }else{ %> 
				<h3> Sem respostas por enquanto :( </h3>
		<% } %>
	</ul>
	
</body>
</html>