body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to right,#007BFF, rgb(0, 225, 255));
}

.shine {
    font-size: 15vh;   
    padding: 2vh;
    font-family: 'Knewave';
	font-weight: bold;
	background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	-webkit-background-size: 25vh;
	color: rgb(255, 255, 255, 0.5);
	-webkit-background-clip: text;
	-webkit-animation-name: shine;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgb(255, 255, 255, 0.7)
}
.shine:hover{
    cursor: pointer;
    opacity: 1;
    color: rgb(255, 255, 255, 0.9);
    -webkit-animation-duration: 0s;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.4);
}
@-webkit-keyframes shine {
	0%, 10% {
		background-position: -1000px;
	}
	20% {
		background-position: top left;
	}
	90% {
		background-position: top right;
	}
	100% {
		background-position: 1000px;
	}
}

.box {
    min-width: auto;  
    min-height: auto;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 25px;
}
.loginBox{  
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textLabel{
    color: white;
    margin: 2vh 0vw 1vh 0vw;
}
.label:focus{
    box-shadow: 2px 1px 3px rgba(0, 0, 0, .5);
}
.inputBox{
    width: 250px;
    margin: 0vh 10vw;
    padding: 1vh 1vw;
    border-radius: 5px;
    border:0px;
    background-color: white;
    outline: none;
    position: relative;
}
.inputBoxFocus:focus{
    width: 250px;
    padding: 1.3vh 1.3vw;
    border-radius: 5px;
    border:0px;
    background-color: white;
    outline: none;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, .5);
}
#buttonLogin{
    margin: 2vh 0vw 5vh 0vw;
    background-image: linear-gradient(to right,#007BFF, rgb(0, 170, 255));
    color: white;
    padding: 1.5vh 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px;
    border-radius: 0.5vw;
    outline: none;
}
.buttonLoginFocus:hover{
    margin: 2vh 0vw 5vh 0vw;
    background-image: linear-gradient(to right,#007BFF, rgb(0, 170, 255));
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    outline: none;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, .5);
}
.hyperLinkBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vh;
    background-color: rgba(255, 255, 255, 0.459);
    justify-content: center;
    padding-bottom: 2vh;
    border-radius: 15px;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, .5);
}
#hyperLink{
    padding: 1px;
    margin: 2vh 1vh 0vh 1vh;
    font-size: 10px;    
    text-decoration: none;
    font-weight: bolder;
}
.hyperLinkFocus:focus{
    padding: 1px;
    margin: 2vh 1vh 0vh 1vh;
    font-size: 10px;    
    text-decoration: none;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, .5);
    outline: none;
}
#hyperLinkCreate{
    padding: 1px;
    margin: 2vh 10vh 0vh 10vh;
    font-size: 10px;    
    text-decoration: none;
    font-weight: bolder;
}
.hyperLinkCreateFocus:focus{
    padding: 1px;
    margin: 2vh 10vw 0vh 10vw;
    font-size: 10px;    
    text-decoration: none;
    outline: none;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, .5);
}
.divField{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
}
.verificationIcon{
    width: 4vw;
    height: 4vh;
    margin-left: 1vh;
    visibility: hidden;
}
.alertText{
    color: red;
    font-size: 8pt;
    font-weight: bolder;
}
.logo {
    color: #ffffff;
    font-family: 'Knewave';
    font-size: 15vh;    
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.logo:hover{    
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
