header {
    min-height: 50px;
    max-height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    background: #2398D6;
    z-index: 2;       
}

body{
    background: white;
}

.topnav {
    margin-top: 7.5px;
}

.topnav select{
   float: right;
    background: white;
    width: 200px;
    height: 35px;
    color: black;
}

.topnav-right a {
    text-align: center;
    font-size: 17px;
    float: right;
    padding: 14px 16px;
    text-decoration: none;    
    color: white;
}

.mainDiv{
    margin-top: 60px;
    min-height: 100%;
    position: relative;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icons{
    margin-right: 5px;
}

.listas{
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    background: white
}

.blocolistas{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    list-style:none;    
}

