<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <title>Questmark ajuda</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/ajuda/img/fkavicon.png" rel="icon">
  <link href="/ajuda/img/apple-touch-icokn.png" rel="apple-touch-icon">

  <!-- Google -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap-->
  <link href="/ajuda/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!--  CSS Files -->
  <link href="/ajuda/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/ajuda/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/ajuda/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/ajuda/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/ajuda/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- principal css File -->
  <link href="/ajuda/css/style.css" rel="stylesheet">
</head>

<body>

    <!--==========================
    Navbar
    ============================-->
    <header id="header" class="fixed-top">
      <div class="container">
  
        <div class="logo float-left">
           <h1 class="text-light"><a href="#header"><span>QM</span></a></h1>
        </div>
  
        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li class="active"><a href="#intro">Ínicio</a></li>
            <li><a href="#services">Sintaxe</a></li>
            <li><a href="#why-us">Porque nós?</a></li>
            <li><a href="#team">Inserir em seu site</a></li>
          
            <li><a href="/forms">Criar Fórmulario</a></li>
          </ul>
        </nav><!-- .main-nav -->
        
      </div>
    </header><!-- #header -->