header {
    min-height: 50px;
    max-height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    background: #2398D6;
    z-index: 2;       
}

body{
    background: white;
}

.topnav {
    margin-top: 7.5px;
}

.topnav select{
   float: right;
    background: white;
    width: 200px;
    height: 35px;
    color: black;
}

.topnav-right a {
    text-align: center;
    font-size: 17px;
    float: right;
    padding: 14px 16px;
    text-decoration: none;    
    color: white;
}

.mainDiv{
    margin-top: 60px;
    min-height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.newFormDiv{
    display: flex;
    flex-direction: row;
    justify-content: center
}


