<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <title>Questmark</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- Fontem do google -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/home/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!--  CSS Files -->
  <link href="/home/lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/home/css/home.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap" rel="stylesheet">

</head>

<body>
  <!--==========================
  inicio
  ============================-->
  <header id="header">

    <div class="container">
      <div class="logo float-left">
        <h1 class="text-light"><a href="#intro" class="scrollto"><span id="letrainicio">Questmark</span></a></h1>
      </div>

      <!--Inserido os botões na navbar-->
      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/cadastro">Registro</a></li>
        </ul>
      </nav>
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro seção
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>Crie questionarios<br>a partir de <span>Markdown!</span></h2>
          <div>
            <a href="/forms" class="btn-get-started scrollto">Criar</a>
            <a href="/ajuda" class="btn-get-started scrollto">Tutorial</a>
          </div>
        </div>
        
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="/home/img/imagem_home.png" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">


    <!--==========================
      funções
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Funcionalidades</h3>
          <p> </p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title">Crie Questionários</h4>
              <p class="description">Crie questionários a partir da linguagem Markdown, de forma simples e toltamente gratuita!</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title">Compartilhe</h4>
              <p class="description">Compartilhe seus questionários para outras pessoas, através de um link gerado em nossa plataforma</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title">Gerencie</h4>
              <p class="description">Analise as respostas de cada um de seus questionários individualmente, com ajuda de gráficos. </p>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #a0ddb2;"><i class="ion-ios-paper-outline" style="color: #3ab629;"></i></div>
              <h4 class="title">Download em CSV</h4>
              <p class="description">Baixe as respostas de cada um de seus questionários em um arquivo csv, para reutilizar da forma que quiser. </p>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #aec0bf;"><i class="ion-ios-paper-outline" style="color: #3f59cd;"></i></div>
              <h4 class="title">Sistema Criptografado</h4>
              <p class="description">Todo a parte de usuário é criptografada. Então, pode ficar tranquilo em relação a sua senha no banco de dados </p>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #b9d4e0;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title">Inserir o Questmark</h4>
              <p class="description">Disponibilizamos a opção de inserir seus questionários, em vários sites/projetos através de uma tag específica</p>
            </div>
          </div>
          
       
        

        </div>

      </div>
    </section>

    <!--==========================
      time
    ============================-->
    <section id="team" class="section-time">
      <div class="container">
        <div class="section-header">
          <h3 id="teamheader">Time</h3>
          <p>O Projeto foi desenvolvido por:</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="/home/img/danilo.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Danillo Souza</h4>
                  <span>Desenvolvedor</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="/home/img/Gustavo.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Gustavo Nogueira</h4>
                  <span>Desenvolvedor</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="/home/img/lucas.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Lucas Lopes</h4>
                  <span>Desenvolvedor</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="/home/img/Luiz.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Luiz Gustavo Dias </h4>
                  <span>Desenvolvedor</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="/home/img/miguel.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Miguel Santos</h4>
                  <span>Desenvolvedor</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="/home/img/nicalo.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Nícalo Ribeiro<h4>
                  <span>Desenvolvedor</span>
               
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="container">
      <div class="credits">
        <br>
        Designed by <a href="https://getbootstrap.com/">Bootstrap</a>
        <br>
        Icons by <a href="https://icons8.com/">Ícones</a>
        <br>
      </div>
    </div>
  </footer>

  <script src="/home/lib/jquery/jquery.min.js"></script>
  <script src="/home/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/home/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/home/lib/wow/wow.min.js"></script>
  <script src="/home/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/home/js/main.js"></script>

</body>
</html>
