<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/login_e_cadastro/styles/login_e_cadastro.css">
    <link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet'>
</head>

<body>
    <div class="logo">QM</div>
    <div class="box">
        <form class="loginBox" action="/users/criar_conta" method="POST">
            <label for="nome" class="textLabel"><b>Nome</b></label>
            <input type="text" placeholder="Digite seu nome" name="nome" id="inputBox" class="inputBoxFocus">
            <label for="email" class="textLabel"><b>E-mail</b></label>
            <input type="email" placeholder="Digite seu e-mail" name="email" id="inputBox" class="inputBoxFocus">
            <label for="senha" class="textLabel"><b>Senha</b></label>
            <input type="password" placeholder="Digite a senha" name="senha" id="inputBox" class="inputBoxFocus">
            <!-- <label for="confirmPassword" class="textLabel"><b>Confirmar Senha</b></label> -->
            <!-- <input type="text" placeholder="Confirme a senha" name="confirmPassword" id="inputBox" class="inputBoxFocus"> -->
            <div class="hyperLinkBox">
                <a href="./login.ejs" id="hyperLinkCreate" class="hyperLinkCreateFocus">Já é cadastrado?</a>
            </div>
            <input type="submit" value="Cadastrar" id="buttonLogin" class="buttonLoginFocus">
        </form>
    </div>
</body>

</html>