<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/recuperar_senha/styles/definir_senha.css">
    <link rel="stylesheet" href="/login_e_cadastro/styles/login_e_cadastro.css">
    <title>Redefinir senha</title>
</head>

<body>
    <h1 class="main-title">Recuperar senha</h1>
    <div class="main-box">
        <form action="/password/redefinir_senha" method="POST">
            <div class="box-inserts">
                <label><b>Confirme o email</b></label><label><b>Insira o código recebido</b></label>
            </div>
            <div class="div-input">
                <input class="input-email" type="text" placeholder="Confirme o e-mail..." name="email">
                <input class="input-code" type="text" placeholder="Insira o código..." name="token">
            </div>
            <div class="div-password">
                <label><b>Digite a nova senha</b></label>
            </div>
            <div class="div-input-password">
                <input class="input-password" type="password" placeholder="Insira a nova senha..." name="senha">
            </div>

            <div class="div-confirm">
                <button class="button-confirm" type="submit">
                    Confirmar nova senha
                </button>
            </div>
        </form>

        <% if (notUser || notToken || tokenExpires) { %>
        <div class="div-error">
            <% if(notUser) { %>
            <p>E-mail não encontrado !</p>
            <p>Por favor, insira um e-mail válido</p>
            <% } %>
            <% if(notToken) { %>
            <p>Código inválido !</p>
            <p>Por favor, verifique o código ou solicite um novo.</p>
            <% } %>
            <% if(tokenExpires) { %>
            <p>O código expirou !</p>
            <p>Por favor, solicite um novo.</p>
            <% } %>

        </div>
        <% } %>
    </div>
    <div class="div-options">
        <a href="/password/forgot"> Inserir novo e-mail</a>
        <a href="/users/login"> Voltar para o login</a>
        <a href="/"> Voltar para a Home</a>
    </div>
</body>

</html>