<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    </head>
    
    <body>
        <div class="card">
            <div class="card">
                <div class="card-body">
                    <% if(validacao.length > 0){ %>
                        <div class="alert alert-danger">
                            <strong>Atenção!</strong>
                            <ul>
                                <% for(let i = 0;i < validacao.length;i++){ %>
                                    <li><%= validacao[i].msg  %></li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                    <form action="/users/autenticar" method="POST">
                            <div class="form-group col-md-3">
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" value="<%= email %>" 
                                placeholder="Email" class="form-control">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="senha">Senha:</label>
                                <input type="password" id="senha" name="senha" placeholder="Senha" class="form-control">
                            </div>
                            <br>
                        <button class="btn btn-primary" class="form-control">Enviar</button>
                    </form>
                </div>
            </div>  
        </div>
    </body>
</html>
