<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redefinir senha</title>
</head>

<body style="background-color: #49AFFF; display: flex; flex-direction: column;">
    <h1 style="text-align: center;color : white">Recuperar senha</h1>
    <div style="align-self: center;display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top : 5vh;
     background-color: white; width: 560px; height: 360px; border-radius: 10px">
        <p
            style="color: black; margin-left: 10px; margin-right: 10px; font-size: 19px; margin-top: -90px; text-align: center">
            Para
            recuperar sua senha, informe seu e-mail cadastrado que enviaremos um código para a redefinição da senha.</p>
        <form action="/password/recuperar_senha" method="POST">
            <div style="display:flex;flex-direction:row;">
                <input style="height: 30px; border-radius: 5px; width: 320px; margin-right: 20px; padding-left: 10px"
                    type="text" placeholder="Digite o email para recuperação de senha" name="email">
                <button type="submit">
                    Enviar e-mail
                </button>
            </div>

        </form>
    </div>
</body>

</html>