<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/recuperar_senha/styles/solicitar_senha.css">
    <title>Redefinir senha</title>
</head>

<body>
    <h1 class="main-title">Recuperar senha</h1>
    <div class="main-box">
        <p class="email-text">
            Para recuperar sua senha, informe seu e-mail cadastrado que enviaremos um código para a redefinição da
            senha.</p>
        <form action="/password/recuperar_senha" method="POST">
            <div class="div-input-email">
                <input class="input-email" type="text" placeholder="Digite o email para recuperação de senha"
                    name="email">
                <button type="submit">
                    Enviar e-mail
                </button>
            </div>
        </form>

        <% if (status == true) { %>
        <div class="div-error">
            <p>E-mail não encontrado !</p>
            <p>Por favor, insira um e-mail válido</p>
        </div>
        <% } %>

    </div>
    <div class="div-options">
        <a href="/users/login"> Voltar para o login</a>
        <a href="/"> Voltar para a Home</a>
    </div>
</body>

</html>