<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Meus Questionários</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link href="/listagem_formulario/listforms.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet'>
</head>

<header>
    <!-- <h1 style="text-align: center;">Meus Questionários</h1>-->

    <div class="logo">QM</div>

    <div class="topnav-right">
        <a href="" title="Logout">Log Out</a>
        <a href="" title="Ajuda">Ajuda</a>
        <a href="" title="Opcoes">Opções</a>
    </div>

    <div class="topnav">
        <select>
            <option value="">Ordenar por</option>
            <option value="novos">Data de criação (Novo-Antigo)</option>
            <option value="antigos">Data de criação (Antigo-Novo)</option>
            <option value="a-z">Ordem Alfabética (A-Z)</option>
            <option value="z-a">Ordem Alfabética (Z-A)</option>
        </select>
    </div>

</header>

<body>
    <div class="mainDiv">

        <% if (formulario.length>0) { %>
            <% for(let i = 0;i < formulario.length;i++){ %>
                <div class="card border-dark mb-3" style="max-width: 22rem;">
                    <div class="card-header">Nome: <%= formulario[i].nome%></div>
                    <div class="card-body text-dark">
                        <a href="#">
                            <img src="/listagem_formulario/images/pencil-edit-button.svg"
                                style="background-color:#7FCAF2;padding: 10px;width: 50px; height: 50px;">
                        </a>
                        <a href="/forms/visualizar/<%= formulario[i].id %>">
                            <img src="/listagem_formulario/images/share-sign.svg"
                            style="background-color:#77D353; margin-left: 30px; padding: 10px;width: 50px; height: 50px;">
                        </a>
                        </a>
                        <a href="#">
                            <img src="/listagem_formulario/images/pie-chart-stats.svg"
                            style="background-color:#4B2CFF;margin-left: 30px;padding: 10px;width: 50px; height: 50px;">
                        </a>
           
                        <a href="/forms/deletar/<%= formulario[i].id %>">
                            <img src="/listagem_formulario/images/recycling-bin.svg"
                            style="background-color:#FF2C2C;margin-left: 30px;padding: 10px;width: 50px; height: 50px;">
                        </a>
                    </div>
                    <div class="card-footer text-muted">
                        Data de Criação: <%=formulario[i].data%>
                    </div>
                </div>
        <% } %>
    </div>
    <% }else{ %>
        <div class="alert alert-dark" role="alert">
            Sem Formulários Cadastrados!
        </div>
    <% } %>

    <div class="newFormDiv">
        <a href="/forms/registro">
            <button class="btn btn-success">Novo Formulário</button>
        </a>
    </div>

    <div>Icons made by 
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from 
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by 
        <a href="https://www.flaticon.com/authors/catalin-fertu" title="Catalin Fertu">Catalin Fertu</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>