<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Meus Questionários</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link href="../../public/listforms.css" rel="stylesheet">
</head>

<header>
    <!-- <h1 style="text-align: center;">Meus Questionários</h1>-->

    <div class="topnav-right">
        <a href="" title="Logout">Log Out</a>
        <a href="" title="Ajuda">Ajuda</a>
        <a href="" title="Opcoes">Opções</a>
    </div>

    <div class="topnav">
        <select>
            <option value="">Ordenar por</option>
            <option value="novos">Data de criação (Novo-Antigo)</option>
            <option value="antigos">Data de criação (Antigo-Novo)</option>
            <option value="a-z">Ordem Alfabética (A-Z)</option>
            <option value="z-a">Ordem Alfabética (Z-A)</option>
        </select>
    </div>

</header>

<body>
    <div class="mainDiv">
        <div class="faixa">
            <ul style="width: 100%;display: block; margin-left: auto; margin-right: auto; margin-top: 10px;
		list-style:none;border: 2px solid black;border-radius: 10px;">
                <% for(let i = 0;i < formulario.length;i++){ %>

                <li style="border: 1px solid black;margin: 20px;text-align: center;border-radius: 10px;">
                    <div>
                        <h3>Nome do Formulário</h3>
                        <div style="flex-direction: row;justify-content: center;align-items: center;">
                            <a href="/forms/responder/<%= formulario[i].id %>">
                                <img src="../../public/images/pencil-edit-button.svg" width="50px" height="50px"
                                    style="background-color:#7FCAF2;padding: 10px">
                            </a>
                            <a href="/forms/postar/<%= formulario[i].id %>">
                                <img src="../../public/images/share-sign.svg" width="50px" height="50px"
                                    style="background-color:#77D353;padding: 10px">

                            </a>
                            <a href="">

                                <img src="../../public/images/pie-chart-stats.svg" width="50px" height="50px"
                                    style="background-color:#4B2CFF;padding: 10px">
                            </a>
                            <form action="/forms/delete" method="POST">
                                <input type="hidden" name="id" value="formulario[i].id">
                                <img src="../../public/images/recycling-bin.svg" width="50px" height="50px"
                                style="background-color:#FF2C2C;padding: 10px">    

                            </form>
                        </div>

                    </div>
                </li>

                <% } %>
            </ul>
        </div>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</body>
<footer>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/catalin-fertu" title="Catalin Fertu">Catalin Fertu</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>

</html>