<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Meus Questionários</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link href="../../public/listagem_formulario/listforms.css" rel="stylesheet">
</head>

<header>
    <!-- <h1 style="text-align: center;">Meus Questionários</h1>-->

    <div class="topnav-right">
        <a href="" title="Logout">Log Out</a>
        <a href="" title="Ajuda">Ajuda</a>
        <a href="" title="Opcoes">Opções</a>
    </div>

    <div class="topnav">
        <select>
            <option value="">Ordenar por</option>
            <option value="novos">Data de criação (Novo-Antigo)</option>
            <option value="antigos">Data de criação (Antigo-Novo)</option>
            <option value="a-z">Ordem Alfabética (A-Z)</option>
            <option value="z-a">Ordem Alfabética (Z-A)</option>
        </select>
    </div>

</header>

<body>
    <div class="mainDiv">
        <div class="conteudo">
            <ul class="blocolistas">
                <% for(let i = 0;i < formulario.length;i++){ %>

                <li class="listas">

                    <h3>Nome do Formulário</h3>
                    <div class="buttons">

                        <a class="icons" href="/forms/responder/<%= formulario[i].id %>">
                            <img src="../../public/listagem_formulario/images/pencil-edit-button.svg" width="50px" height="50px"
                                style="background-color:#7FCAF2;padding: 10px">
                        </a>

                        <a class="icons" href="/forms/postar/<%= formulario[i].id %>">
                            <img src="../../public/listagem_formulario/images/share-sign.svg" width="50px" height="50px"
                                style="background-color:#77D353;padding: 10px">

                        </a>

                        <a class="icons" href="">
                            <img src="../../public/listagem_formulario/images/pie-chart-stats.svg" width="50px" height="50px"
                                style="background-color:#4B2CFF;padding: 10px">
                        </a>

                        <form class="icons" action="/forms/delete" method="POST">
                            <input type="image" alt="Submit" src="../../public/listagem_formulario/images/recycling-bin.svg" width="50px"
                                height="50px" style="background-color:#FF2C2C;padding: 10px" name="id"
                                value="formulario[i].id">
                        </form>

                    </div>
                </li>
                <% } %>
            </ul>
            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div>Icons made by <a href="https://www.flaticon.com/authors/catalin-fertu" title="Catalin Fertu">Catalin
                    Fertu</a>
                from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>